<div class="terms-of-use">
    <section> 
        <h3>Disclaimer and Terms of Use</h3>
        <h4>Welcome to On Track!</h4>
        <p>By logging in and using this website, you agree to the following terms and conditions:</p>
        <p>Responsibility: You understand and acknowledge that On Track provides route suggestions for travel purposes. However, the final decision to undertake any travel route is your responsibility. We are not responsible for any outcomes, incidents, or accidents that may occur during your travels.</p>
        <p>Verification: It is your responsibility to verify the suitability of the chosen route before starting your journey. Conditions on the road may change, and the actual conditions may differ from the map provided on this website. Always check for updated information and road conditions from reliable sources.</p>
        <p>No Complaints: You agree not to bring any complaints, disputes, or legal actions against On Track regarding the accuracy of the route information, travel experiences, or any consequences of your travel decisions. This includes any dissatisfaction with the route, services, or accommodations recommended on this website.</p>
        <p>No Legal Claims: You expressly waive the right to file any legal claims, including but not limited to lawsuits, against On Track and its affiliates, officers, employees, and agents for any issues related to the use of this website or the information provided herein.</p>
        <p>Information Accuracy: While we strive to provide accurate and up-to-date information, we cannot guarantee the accuracy or completeness of the content on this website. Information, routes, and recommendations may change over time, and you should verify all details independently.</p>
        <p>Privacy:  We may collect personal information such as your name, email address, location, and other relevant details to enhance your user experience and provide tailored travel recommendations. In some cases, we may share your data with third-party services.</p>
        <p>Cookies: We may use cookies and similar technologies to improve your website experience. You can manage your cookie preferences through your browser settings.</p>
        <p>User Conduct: You agree to use this website in accordance with applicable laws and regulations and to refrain from any harmful or disruptive behavior while using the site. We reserve the right to suspend or terminate your account if you violate these terms.</p>
        <p>Changes to Terms: On Track reserves the right to modify these terms and conditions at any time. It is your responsibility to review and accept the most current version before using the site.</p>
    </section>
    <div>
        <a href='login'>back to login page</a>
    </div>
</div>
