.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/OnTrack.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
/client/on-track/.angular/
/client/on-track/node_modules/
/client/on-track/dist/
OnTrack.code-workspace
client/on-track/dist/on-road/
node_modules/
