<div class="users-details-container">
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>email</th>
            <th>User type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users_list">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.user_type }}</td>
          </tr>
        </tbody>
      </table>
</div>