<div class="track-creation">
    <div class="source-point-input point-input">
        <label class="point-label">Start</label>
        <div class="user-inputs">
            <input type="number" [(ngModel)]="sourceLat" placeholder="Latitude" disabled>
            <input type="number" [(ngModel)]="sourceLng" placeholder="Longitude" disabled>
        </div>
    </div>
    <div class="target-point-input point-input">
        <label class="point-label">Finish</label>
        <div class="user-inputs">
            <input type="number" [(ngModel)]="targetLat" placeholder="Latitude" disabled>
            <input type="number" [(ngModel)]="targetLng" placeholder="Longitude" disabled>
        </div>
    </div>
    <button (click)="onComposeTrack()" [disabled]="!(sourceLat && sourceLng && targetLat && targetLng)">Create Track</button>
    <button (click)="onClearAll()">Clear All</button>
    <button (click)="onCreateGPXFile()" [disabled]="!createdRoute">Create GPX File</button>
</div>
