<app-loading-spinner *ngIf="loadingSpinnerService.isPresented$ | async"></app-loading-spinner>
<div class="site">
    <app-site-notifications></app-site-notifications>
    <nav>
        <div class="left-nav">
            <div class="site-logo"></div>
            <div class="site-title"> On…TracK∫</div>
        </div>
        
            <div class="site-commands">
                <button class="name" (click)="redirectToManagerPage()"> {{helloText}}</button>
                <button class="logout-user" (click)="logout()" *ngIf="showLogoutButton">Logout</button>
            </div>
    </nav>
    <router-outlet></router-outlet>
</div>
