.site {
    display: flow;    
    font-family: Arial, sans-serif;
    
    header {
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px 0;

        .site-title {
            text-align: center;
        }
    }
}
